<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		
		
		
		
		
		
    <section name="EmailSettingsSectionName" type="Alerts.Email.Settings.EmailSmtpSettingsHandler,Alerts.Email.Settings" />
		
		
		
		
		
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup></sectionGroup></sectionGroup></configSections>
	<appSettings>
		
		
	<add key="ConnString" value="Server=204.232.170.34;user id=admin1;password=admin1;database=PTIEduportal;Connection Timeout=300;Max Pool Size=20000;Connection Lifetime=2" />
			
	<!--<add key="ConnString1" value="Server=(local);user id=sa;password=12345abcde;database=DeltasUniEduportal;Connection Timeout=300;Max Pool Size=10000;Connection Lifetime=5" />
    <add key="ConnString" value="Server=(local);user id=admin1;password=admin1;database=DeltasUniEduportal;Connection Timeout=300;Max Pool Size=10000;Connection Lifetime=5" />-->

  <add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />
  <add key="ExcelPath" value="C:\inetpub\ftproot\PTIEduportal\ui\upload\" />
  <add key="UploadPath" value="C:/inetpub/ftproot/PTIEduportal/ui/upload/" />
  <add key="Key" value="1010101010101010" />
  <add key="EnableCaching" value="false" />
  <add key="CacheDuration" value="1000" />
		<add key="smsnetworkid" value="SILVERSTREET"/>
		<add key="smsoperatorid" value="SILVERSTREET-BV_01"/>
	
		
		
		
		
		<add key="smssenderid" value="PTIEduportalSMSID"/>
<add key="emailalertqueue" value ="ptieduportalemailalert"/>
		
		
		
		
		
 </appSettings>
	<connectionStrings>
		<!--
		<add name="mydb" connectionString="Server=localhost;user id=pto;password=lordjesus1;database=KogiPoly_EduPortal;Connection Timeout=300"/>
		-->
		
		<add name="mydb1" connectionString="Server=204.232.170.34;user id=sa;password=12345abcde;database=PTIEduportal;Connection Timeout=300;Max Pool Size=10000;Connection Lifetime=5"/>
		<add name="mydb" connectionString="Server=204.232.170.34;user id=admin1;password=admin1;database=PTIEduportal;Connection Timeout=300;Max Pool Size=10000;Connection Lifetime=5"/>


		<!--<add name="mydb1" connectionString="Server=(local);user id=sa;password=12345abcde;database=DeltasUniEduportal;Connection Timeout=300;Max Pool Size=10000;Connection Lifetime=5"/>
        <add name="mydb" connectionString="Server=(local);user id=admin1;password=admin1;database=DeltasUniEduportal;Connection Timeout=300;Max Pool Size=10000;Connection Lifetime=5"/>-->
	
	</connectionStrings>
	
	
	
	
	
	
	
	
	<system.net>
		<mailSettings>
			<!-- <smtp deliveryMethod="Network"> -->
			<smtp from="noreply@pti.edu.ng">
				<!--<network host="smtp.gmail.com" userName="support3@deltasuniversity.com" password="support$2009" port="587"/>-->
        <network host="smtp.gmail.com" defaultCredentials="false" userName="noreply@pti.edu.ng" password="password" port="587"/>
			</smtp>
		</mailSettings>
	</system.net>
  
  <EmailSettingsSectionName defaultEmailFrom="noreply@pti.edu.ng" portNumber="25">

	  
	  
	  
	  
	  
	  
	  
	  
	  
    <!--You need to add a reference to Alerts.Email.Settings.EmailSmtpSettingsHandler.dll since this dll lives outside this (Presentation) assembly-->
    <!--Comments can go here-->

    <!--SSL example.  Google(gmail)Mail is a good (free) example of this.  Naturally, you need to provide a legitimate username and password-->
    <!--Note, with the 1.1 Framework, my tests show that gmail likes port 465.  With 2.0, it likes 587-->
    <smtpServer enabled="true" smtpServerName="smtp.gmail.com" defaultEmailFrom="noreply@pti.edu.ng" portNumber="587" authenicationMode="SSL" smtpUserName="noreply@pti.edu.ng" smtpUserPassword="password" executeOrder="3"/>

    <!--Basic authentication.  Passing in a username (and sometimes a password) are used here.-->
    <smtpServer enabled="false" smtpServerName="smtp.gmail.com" defaultEmailFrom="noreply@pti.edu.ng"  portNumber="25" authenicationMode="basic" smtpUserName="noreply@pti.edu.ng"    executeOrder="2"/>

    <!--None authentication.  Nothing but the smtp-server name is provided-->
    <smtpServer enabled="false" smtpServerName="smtp.gmail.com"  authenicationMode="none"  executeOrder="1"/>

  </EmailSettingsSectionName>


	
	
	
	
	
	
	
	
	
	<system.web>
		<roleManager enabled="true" defaultProvider="CustomizedProvider">
			<providers>
				<add name="CustomizedProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="mydb" applicationName="member"/>
			</providers>
		</roleManager>
		<membership defaultProvider="CustomizedProvider">
			<providers>
				<add connectionStringName="mydb" applicationName="member" enablePasswordRetrieval="false" enablePasswordReset="true" minRequiredNonalphanumericCharacters="0" name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" minRequiredPasswordLength="5" requiresQuestionAndAnswer="false"/>
			</providers>
		</membership>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies><add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name=".DELTASADMINAUTH" path="/" requireSSL="false" loginUrl="AdminLogin.aspx" timeout="120" defaultUrl="~/admin/default.aspx" cookieless="AutoDetect"/>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	  
	  
		<customErrors mode="Off" defaultRedirect="errorpage.html">
		</customErrors>
	  
	  
	  
		<httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<pages enableViewState ="true" maintainScrollPositionOnPostBack ="true">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules></system.web>
	<log4net>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="INFO"/>
				<foreColor value="White, HighIntensity"/>
				<backColor value="Green"/>
			</mapping>
			<mapping>
				<level value="DEBUG"/>
				<foreColor value="White, HighIntensity"/>
				<backColor value="Blue"/>
			</mapping>
			<mapping>
				<level value="WARN"/>
				<foreColor value="Yellow, HighIntensity"/>
				<backColor value="Purple"/>
			</mapping>
			<mapping>
				<level value="ERROR"/>
				<foreColor value="Yellow, HighIntensity"/>
				<backColor value="Red"/>
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message"/>
			</layout>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="c:\ptilogs\Transactionlog.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyy-MM-dd"/>
			<layout type="log4net.Layout.PatternLayout">
				<!-- Print the date in ISO 8601 format [2009-03-23 14:07:41,508 [SmppHandler] INFO  MyApp - Entering application]-->
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
			</layout>
		</appender>
		<appender name="UdpAppender" type="log4net.Appender.UdpAppender">
			<remoteAddress value="127.0.0.1"/>
			<remotePort value="8081"/>
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
				<locationInfo value="true"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="ColoredConsoleAppender"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>
	<system.webServer><handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers><validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules></system.webServer>
	<location path="admin">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="WarnAsError" value="false"/></compiler>
				<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="OptionInfer" value="true"/>
					<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding></runtime></configuration>
