<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EduPortalNotification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EduPortalNotification.Properties.Settings>
            <setting name="ddd" serializeAs="String">
                <value>ddd</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="OpenMin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=(local);user id=sa;password=12345abcde;Initial Catalog=WUSTO_Eduportal;Connection Timeout=300;Max Pool Size=300;Connection Lifetime=15</value>
            </setting>
            <setting name="SmtpMail" serializeAs="String">
                <value>application@dlcui.edu.ng</value>
            </setting>
            <setting name="SmtpPwd" serializeAs="String">
                <value>support$2009</value>
            </setting>
            <setting name="FromEmail" serializeAs="String">
                <value>support@dlcui.edu.ng</value>
            </setting>
            <setting name="sslFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Emailmessage" serializeAs="String">
                <value>Notmmm</value>
            </setting>
            <setting name="mailCC" serializeAs="String">
                <value>support2@dlcui.edu.ng</value>
            </setting>
        </EduPortalNotification.Properties.Settings>
    </applicationSettings>
</configuration>